.container{
    width: 250px;
    height: 450px;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 70px;
    margin-left: 0px;
    padding-top: 10px;
    padding-bottom: -10px;
}
.calculator{
    padding: 0px;
    border-radius: 20[x];
}
.calculator form input{

    margin-top: 5px;
    border: 0;
    outline: 0;
    width: 50px;
    height: 50px;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
    background-color: aliceblue;
    color: gray;
    position: static;
    box-shadow: -1px -1px 5px rgb(37, 37, 37);
}
.calculator form input:hover{
    background-color: aliceblue;
    color: gray;
}
.calculator form input:active{
    box-shadow:1px 1px 5px rgb(255, 153, 29);
    color: rgb(0, 0, 0);
}
form .display{
    justify-content: flex-end;
    height: 100px;
    width: 210px;
    outline: 0px;
    border: 0px;
    background: transparent;
    align-items: center;
    justify-content: center;
    display: flex;
    position: static;
    border-radius: 10px;
    border-bottom: 5px;
    font-size: 40px;
    color:orange;
    text-align: right;
    margin-top: 5pxpx;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 50px;
    box-shadow: none;

}
form .display input:hover{
    box-shadow: none;
    color: gray;
}
form .display input:active{
    background: transparent;
    color: #d1a24ad0;
    color: gray;
}
.r1{
    margin-top: 30px;
}
form input.key{
    color: rgb(255, 166, 0);
}
h1{
    color: whitesmoke;
    font-family: 'Audiowide';font-size: 22px;
    font-size: 30px;
    margin-left: 10px;
}
.footer{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: NONE;
   color: rgb(0, 0, 0);
   text-align: center;
    font-family: "Antic Slab", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 7px;
}
